html {
	background: linear-gradient(90deg, rgb(162, 99, 3) 0%, rgb(138, 26, 26) 48%, rgb(91, 32, 7) 100%);
}
@media only screen and (orientation: landscape){
	.container {
	max-width: 500px;
	margin: 0 auto;
	padding: 50px;
}
.form-group {
	margin-bottom: 20px;
}

label {
	display: block;
	margin-bottom: 5px;
}

input[type="text"], input[type="email"], input[type="password"] {
	width: 95%;
	padding: 10px;
	font-size: 16px;
	border-radius: 5px;
	border: none;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

button[type="submit"] {
	display: block;
	margin: 20px 0 10px;
	padding: 10px;
	background-color: #000000;
	color: #fff;
	border: none;
	border-radius: 5px;
	font-size: 16px;
	cursor: pointer;
}
h2 {
	font-size:24px;
}

p {
	margin-top: 20px;
	font-size:16px;
}
}
@media only screen and (orientation: portrait){
.container {
    margin: 0 auto;
	padding: 50px	;
}
.form-group {
	margin-bottom: 20px;
}

label {
	display: block;
	margin-bottom: 5px;
	font-size: 35px;

}

input[type="text"], input[type="email"], input[type="password"] {
	width: 95%;
	padding: 20px;
        font-size: 38px;
	border-radius: 5px;
	border: none;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

button[type="submit"] {
	display: block;
	margin: 20px 0 10px;
	padding: 15px;
	background-color: #000000;
	color: #fff;
	border: none;
	border-radius: 10px;
	font-size: 35px;
	cursor: pointer;
}
h2 {
	font-size: 50px;
}

p {
	margin-top: 20px;
	font-size:35px;
}
}

.form-container {
	background: rgb(180,91,58);
	background: linear-gradient(120deg, rgb(217, 84, 36) 0%, rgba(253,29,29,1) 48%, rgba(252,176,69,1) 100%);
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
