
body {
    background: linear-gradient(90deg, rgb(246, 149, 4) 0%, rgb(244, 46, 46) 48%, rgb(165, 57, 11) 100%);
    margin: 0;
    padding: 0;
    overflow-x:hidden;
  }
  @media only screen  and (orientation: landscape){
  .slideshow-container {
    height: 90vh;
    width: 100vw;
    position: relative;
    overflow: auto;
  }
  .menu-container {
    width: 100%;
    margin: 0 auto;
    position: relative;
    left: 0;
    bottom: 0;
    height:100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    background-color: rgba(8, 8, 8, 0.5);
    padding: 10px;
  }
  .menu-item img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    height: 50vh;
    box-shadow: 0 0 20px rgba(8, 8, 8, 0.5);
    max-width: 100%;
    object-fit: cover;
  }
  .cart-container {
    display: none;
    position: fixed;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    background: linear-gradient(90deg, rgb(246, 149, 4) 0%, rgb(244, 46, 46) 48%, rgb(165, 57, 11) 100%);
    padding: 20px;
  }
  .form-container {
    width: 400px;
    margin: 0 auto;
  }
  header img {
    max-width: 80px;
    border-radius:50% ;
  }
  .dropbtn {
    background-color: #333;
    color: white;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }
  .search-form {
    display: flex;
    align-items: center;
    border-radius: 5px;}
    .search-form button[type="submit"] {
    padding: 6px 10px;
    font-size: 16px;
    border: none;
    background-color: #333;
    color: white;
    cursor: pointer;
   }
    .search-form input[type="text"] {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 6px 10px;
    font-size: 16px;
    border: none;
    background-color: #111;
    color: white;
  }
  .footer .icon {
    width: 30px;
    height: 30px;
  }}

  @media only screen and (orientation: portrait){
   .slideshow-container {
    height: 50vh;
    width: 100vw;
    position: relative;
    overflow: auto;
  }
  .menu-container {
    width: 100%;
    margin: 0 auto;
    position: relative;
    left: 0;
    bottom: 0;
    height:100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    background-color: rgba(8, 8, 8, 0.5);
    padding: 10px;
  }
  .menu-item img{
    border-top-left-radius: 20px;
    border-top-right-radius:20px;
    width: 100%;
    height: 400px;
    box-shadow: 0 0 20px rgba(8, 8, 8, 0.5);
    max-width: 100%;
    object-fit: cover;
  }
  .details {
    font-size: 25px;
  }
  .menu-item button{
    font-size: 25px;
  }
  .cart-button {
    font-size: 25px;
  }
  .cart-container {
    display: none;
    position: fixed;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50vh;
    height: 50vh;
    background: linear-gradient(90deg, rgb(246, 149, 4) 0%, rgb(244, 46, 46) 48%, rgb(165, 57, 11) 100%);
    padding: 20px;
  }
  .cart-container h2 {
    font-size: 35px;
}
 .cart-items {
  font-size: 30px;
 }
 .place-order-button {
  font-size: 25px;
  padding: 10px 20px;
  background-color: #000000;
  color: #ffffff;
  border: none;
  cursor: pointer;
}
.success-message { display: block;
  font-size: 30px;
}
.total-amount {
  font-size: 30px;
  display: block;
}
  .form-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 30px;
}
.form-label {
  font-size: 30px;
  display: block;
  margin-bottom: 5px;
}
.form-container {
  width: 600px;
  margin: auto;
}
   .content h1{
      font-size: 50px;
  } 
   .content p{
    font-size: 40px;
  }header img {
    max-width: 127px;
    border-radius: 50%;
  }
  .dropbtn {
    background-color: #333;
    color: white;
    padding: 13px 27px;
    font-size: 35px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: #f9f9f9;
    min-width: 141px;
    font-size: 38px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }
  .search-form {
    display: flex;
    align-items: center   
  }
  .search-form button[type="submit"] {
    padding: 15px 20px;
    font-size: 32px;
    border: none;
    background-color: #333;
    color: white;
    cursor: pointer;
  }
  .search-form input[type="text"] {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 12px 12px;
    font-size: 37px;
    border: none;
    background-color: #111;
    color: white;
  }
  .footer .icon {
    width: 50px;
    height: 50px;
  }
  .footer .icon-wrapper {
    margin-left: 60px;
  }}
  .content {
    background-color: #111;
    position: relative;
    z-index: 1;
  }
  .content h1,p{
    color: #ffffff;
  }
  ------
  .image-container {
    overflow:hidden;
  }
  
  .mySlides {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }
  
  .mySlides.active {
    opacity: 1;
  }
  
  .mySlides img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
  
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: relative;
    z-index: 3;
  }
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #f1f1f1;}

  /* Show the dropdown content when the user moves the mouse over the dropdown button */
  .dropdown:hover .dropdown-content {display: block;}
  
  .footer {
    padding-top: 20px;
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: rgba(0, 0, 0, 0.175);
  }
  
  .footer .icon-wrapper {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    text-decoration: none;
  }

  .details{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius:10px;
    box-shadow: 0 0 20px rgb(10, 10, 10, 0.5);
    background-attachment: fixed;
    background-color:rgb(250, 100, 0);
    vertical-align: middle;
    align-items: end;
    display: grid;
  }
  .details p{
    text-shadow: rgb(0, 0, 0) 3px 0 5px;
  }
  .menu-item h3 {
    margin: 0;
  }
  
  .menu-item p {
    margin: 0;
  }
  .menu-item button{
    padding: 10px;
    border-radius: 5px;
    color: #ffffff;
    background-color: #000000;
  }
  .Cart.button{
      align-items: end;
      display: grid;
      justify-content: end;
  }
  .cart-button {
    padding: 10px 20px;
    background-color: #000000;
    color: #fff;
    border: none;
    cursor: pointer;
    align-items: center;
  }
  
  .cart-item {
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
  
  .cart-item span {
    display: inline-block;
    width: 100px;
  }
  
  .place-order-button {
    padding: 10px 20px;
    background-color: #000000;
    color: #ffffff;
    border: none;
    cursor: pointer;
  }
  
  .form-label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-input {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
  }

  .success-message {
    color: green;
    margin-top: 10px;
  }

  .total-amount {
    font-weight: bold;
  }
