
body {
    background: linear-gradient(90deg, rgb(246, 149, 4) 0%, rgb(244, 46, 46) 48%, rgb(165, 57, 11) 100%);
    margin: 0;
    padding: 0;
    overflow-x:hidden;
  }
  @media only screen  and (orientation: landscape){
  header img {
    max-width: 80px;
    border-radius:50% ;
  }
  .dropbtn {
    background-color: #333;
    color: white;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }
  .search-form {
    display: flex;
    align-items: center;
    border-radius: 5px;}
    .search-form button[type="submit"] {
    padding: 6px 10px;
    font-size: 16px;
    border: none;
    background-color: #333;
    color: white;
    cursor: pointer;
   }
    .search-form input[type="text"] {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 6px 10px;
    font-size: 16px;
    border: none;
    background-color: #111;
    color: white;
  }
  .footer .icon {
    width: 30px;
    height: 30px;
  }}

  @media only screen and (orientation: portrait){
   .content h1{
      font-size: 50px;
  } 
   .content p{
    font-size: 40px;
  }header img {
    max-width: 127px;
    border-radius: 50%;
  }
  .dropbtn {
    background-color: #333;
    color: white;
    padding: 13px 27px;
    font-size: 35px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: #f9f9f9;
    min-width: 141px;
    font-size: 38px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }
  .search-form {
    display: flex;
    align-items: center   
  }
  .search-form button[type="submit"] {
    padding: 15px 20px;
    font-size: 32px;
    border: none;
    background-color: #333;
    color: white;
    cursor: pointer;
  }
  .search-form input[type="text"] {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 12px 12px;
    font-size: 37px;
    border: none;
    background-color: #111;
    color: white;
  }
  .footer .icon {
    width: 50px;
    height: 50px;
  }}
  .content {
    background-color: #111;
    position: relative;
    z-index: 1;
  }
  .content h1,p{
    color: #ffffff;
    }
  ------
  .image-container {
    overflow:hidden;
  }
  
  .slideshow-container {
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow: auto;
  }
  
  .mySlides {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }
  
  .mySlides.active {
    opacity: 1;
  }
  
  .mySlides img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
  
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: relative;
    z-index: 3;
  }
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #f1f1f1;}

  /* Show the dropdown content when the user moves the mouse over the dropdown button */
  .dropdown:hover .dropdown-content {display: block;}
  
  .footer {
    padding-top: 20px;
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: rgba(0, 0, 0, 0.175);
  }
  
  .footer .icon-wrapper {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    text-decoration: none;
  }