body {
    background: linear-gradient(90deg, rgb(246, 149, 4) 0%, rgb(244, 46, 46) 48%, rgb(165, 57, 11) 100%);
    margin: 0;
    padding: 0;
    overflow-x:hidden;
  }
  ------
  /*For gallery*/
  
  .container {
    position: absolute;
    width: 100%;
    height: 10vh;
    bottom: 0;
  }
  
  @media only screen  and (orientation: landscape){
    .gallery {
    position: absolute;
    left: 0;
    bottom: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
  }}

  @media only screen and (orientation: portrait){
    .gallery {
    position: absolute;
    left: 0;
    bottom: 0;
    display: inline-grid;
    grid-template-columns: repeat(2, 1fr);
    height: 60%;
    grid-gap: 10px;   
   }
   .content h1{
      font-size: 50;
   } 
   .content p{
    font-size: 40px;
   }}
  .gallery img {
    width: 100%;
    height: auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  }
  .content {
    text-align: center;
    position: relative;
    z-index: 1;
    padding: 0px;
  }
  ------
  .image-container {
    overflow:hidden;
  }
  
  .slideshow-container {
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow: hidden;
  }
  
  .mySlides {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }
  
  .mySlides.active {
    opacity: 1;
  }
  
  .mySlides img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
  
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: relative;
    z-index: 3;
  }

  @media only screen and (orientation: landscape){
    header img {
    max-width: 80px;
    border-radius:50% ;
  }}

  @media only screen and (orientation: portrait){
    header img {
    max-width: 127px;
    border-radius: 50%;
}}

  img {
    max-width: 100%;
  }

  @media only screen and (orientation: landscape){
  .dropbtn {
    background-color: #333;
    color: white;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }}

  @media only screen and (orientation: portrait){
    .dropbtn {
    background-color: #333;
    color: white;
    padding: 13px 27px;
    font-size: 35px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: #f9f9f9;
    min-width: 141px;
    font-size: 38px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }}
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #f1f1f1;}

  /* Show the dropdown content when the user moves the mouse over the dropdown button */
  .dropdown:hover .dropdown-content {display: block;}

  

  @media only screen and (orientation: portrait) {
    .search-form {
    display: flex;
    align-items: center   
    }
   .search-form button[type="submit"] {
      padding: 15px 20px;
      font-size: 32px;
      border: none;
      background-color: #333;
      color: white;
      cursor: pointer;
    }
    .search-form input[type="text"] {
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
      padding: 12px 12px;
      font-size: 37px;
      border: none;
      background-color: #111;
      color: white;
    }}
   @media only screen and (orientation: landscape) {
    .search-form {
    display: flex;
    align-items: center;
    border-radius: 5px;}
    .search-form button[type="submit"] {
    padding: 6px 10px;
    font-size: 16px;
    border: none;
    background-color: #333;
    color: white;
    cursor: pointer;
   }
    .search-form input[type="text"] {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 6px 10px;
    font-size: 16px;
    border: none;
    background-color: #111;
    color: white;
  }}
    
  .image-container {
    width: 100%;
    overflow-x: scroll;
    white-space: nowrap;
  }
  
  .image-container img {
    height: 100%;
    display: inline-block;
  }
